
<h2 class="page-header">Edit Book</h2>
<!-- <form action="/books" method="POST" enctype="multipart/form-data"> -->
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <!-- import the form partials -->
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>