<form method="POST" action="<%= url %>?_method=DELETE">
    <button class="btn btn-danger" type="submit">DELETE</button>
</form>
<!-- url is a var defined in the layout and it can be different depending on the page -->
<!-- action='' can be a url or a var to be set later -->