<% if (locals.errorMessage != null) { %>
    <div class="error-message">
        <%= errorMessage %>
    </div>
<% } %>

<!-- allows it to render text -->
<!-- the if statement only allows the errorMessage to display when the error is not empty -->