<header>
    <nav class="header-nav">
        <a class="header-title" href="/index">Penguin Library</a>
        <ul>
            <!-- populated 'logged' and made it available by res.locals in middleware -->
            <li>Welcome, <%= logged.role %> (<%= logged.email %>)</li>
            
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
            <!-- <li><a href="/api/admin/signup" class="btn"> Sign up </a></li> -->
            <li><a href="/api/admin/logout" class="btn"> Log out </a></li>
        </ul>
    </nav>
</header>