<header>
    <nav class="header-nav">
        <a class="header-title" href="/index/byuser">Penguin Library</a>
        <ul>
            <!-- populated 'logged' and made it available by res.locals in middleware -->
            <li>Welcome, <%= logged.email %> </li>
            <li><a href="/authors/byuser">Authors</a></li>
            <!-- <li><a href="/authors/new">Add Author</a></li> -->
            <li><a href="/books/byuser">Books</a></li>
            <!-- <li><a href="/books/new">Add Book</a></li> -->
            <!-- <li><a href="/api/users/signup" class="btn"> Sign up </a></li> -->
            <li><a href="/api/users/logout" class=""> Log out </a></li>
        </ul>
    </nav>
</header>