<div class="form-row">
    <div class="form-item form-item-no-grow">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
        <label>Username</label>
        <input type="text" name="username" required="required" value="<%= user.username %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Password</label>
        <input type="password" name="password" required="required">
    </div>
</div>
