<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= user.name %>">
</div>
<div>
    <label>Username</label>
    <input type="text" name="username" value="<%= user.username %>">
</div>
<div>
    <label>Email</label>
    <input type="text" name="email" value="<%= user.email %>">
</div>
<div>
    <label>Password</label>
    <input type="text" name="password">
</div>
