<div>
    
    <label>Name</label>
    <input type="text" name="name" required="required" value="<%= user.name %>">
</div>
<div>
    <label>Username</label>
    <input type="text" name="username" required="required" value="<%= user.username %>">
</div>
<div>
    <label>Email</label>
    <input type="text" name="email" required="required" value="<%= user.email %>">
</div>
<div>
    <label>Password</label>
    <input type="password" name="password" required="required">
</div>
