<h2 class="page-header">Login User</h2>
<form action="/api/users/login-user" method="POST">
    <%- include('_form_fields_login') %>
    
    <a href="/api/users">Cancel</a>
    <button type="submit">Login</button>
</form>