<%- include('../partials/header.ejs') %>

<h2 class="page-header">Login User</h2>
<form action="/api/users/login" method="POST">
    <%- include('_form_fields_login') %>
    
    <!-- <a href="/" class="btn btn-danger" >Cancel</a>
    <button type="submit" class="btn btn-primary">Login</button> -->

    <%- include('../partials/_cancel_login') %>
</form>