<%- include('../partials/header.ejs') %>

<h2 class="page-header">New User</h2>
<form action="/api/users/signup" method="POST">
    <%- include('_form_fields') %>
    
    <a href="/">Cancel</a>
    <button type="submit">Create</button>
</form>