<h2 class="page-header">New User</h2>
<form action="/api/users" method="POST">
    <%- include('_form_fields') %>
    
    <a href="/api/users">Cancel</a>
    <button type="submit">Create</button>
</form>