<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <!-- file preview -->
    <link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
    rel="stylesheet"/>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">


    <!-- defer is set so script will run after the whole page is parsed -->
    <!-- file encode, file preview, image resize -->
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script defer src="/javascripts/fileUpload.js"></script>
    <link id="main.css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Penguin Library</title>
</head>
<body>
    <div class="container">
    <%- include('../partials/header.ejs') %>

    <!-- go up a level to views/partials then use the header file -->
        <div class="inner-container">
            <%- include('../partials/errorMessage.ejs') %>
            <!-- include the original body from views folder of route  -->
            <!-- errorMessage was a var created in the router and made available locally -->
            <%- body %>
        </div>
    </div>
    
    
    
</body>
</html>