<%- include('partials/header.ejs') %>

<h2 class="page-header">Welcome!</h2>

<!-- <input autocomplete="off" type="text" id="username">
<button disabled id="submit" type="submit">Submit</button> -->

<ul>
    <!-- <li><a href="/api/users/signup"> Sign up </a></li>
    <li><a href="/api/users/login"> Log in </a></li>
    <li><a href="/api/admin/login"> ADMIN Log in</a></li> -->

</ul>
