<!-- <%- include('partials/header3.ejs') %>

<h2 class="page-header">Recently Added</h2>
<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>">
        <img height="150" width="100" src="<%= book.coverImagePath %>">
        </a>
        <!--book.coverImagePath is a virtual path from the model  -->
    <% }) %>
</div>
<!-- <input autocomplete="off" type="text" id="username">
<button disabled id="submit" type="submit">Submit</button> --> -->
