@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
/* variable comes first because other file depends on the data */
@import 'shared/form.css';
@import 'shared/cancel-margin.css';




:root {
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: var(--color-text-light);
}

/* all element, all elements before and after */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    max-width: 1700px;
    /* margin: auto; */
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 4rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}