<%- include('../partials/header.ejs') %>

<h2 class="page-header">Login Admin</h2>
<form action="/api/admin/login" method="POST">
    <%- include('_form_fields_login') %>
    
    <a class="btn btn-danger" href="/">Cancel</a>
    <button class="btn btn-primary" type="submit">Login</button>
</form>