<%- include('../partials/header.ejs') %>

<h2 class="page-header">New Admin</h2>
<form action="/api/admin/signup" method="POST">
    <%- include('_form_fields') %>
    
    <a class="btn btn-danger" href="/">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</form>