


:root {
    --color-base-hue: 200;
    /* --color-danger-hue-offset: 180; */

    /* --color-danger-hue: cacl(var(--color-base-hue) - var(--color-danger-hue-offset) );  */
    --color-danger-hue: 20;



    --color-background-dark: hsl(var(--color-base-hue), 100%, 8%);
    --color-background-light: hsl(var(--color-base-hue), 100%, 16%);
    --color-text-light: hsl(var(--color-base-hue), 100%, 87%);
}
/* hue is 200, so store in a var to be used everywhere */

