:root {
    --color-base-hue: 200;
    --color-background-dark: hsl(var( --color-base-hue), 100%, 8%);
    --color-background-light: hsl(var( --color-base-hue), 100%, 16%);
    --color-text-light: hsl(var( --color-base-hue), 100%, 87%);
}
/* hue is 200, so store in a var to be used everywhere */

